@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url("https://use.typekit.net/lqg4muq.css");

:root {
    --background: #0D0D0D;
    --foreground: #171717;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Proxima-Nova';
    font-weight: 900;
}

h1 {
    font-size: 96px;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
a {
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
}

#nprogress .bar {
    background: transparent;
    height: 0;
}